$gold: #ba9774;
$light-gold: #f5ca9f;
$gold-dark: rgba(243,149,59,0.73);
$green: #00ec7a;
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');


.footer-main{
	max-width: 100vw;
	height: auto;
	margin:30px 0px 0px 0px;

	.footer-title{
		line-height: 1.4em;
		font-weight: 500;
		text-align: center;
		position: relative;
		padding: 6px;
		font-size: 35px;
		margin-bottom: 1rem;
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.05em;
		color: $gold;
		@media screen and(max-width: 900px) {
		  font-size: 22px;
		  padding: auto;
		  letter-spacing: 0.02em;
		  word-spacing: 0.01em;
		  line-height: 1.2em;
		}
	}

	.footer-heading{
		line-height: 1.3em;
		font-weight: 400;
		text-align: left;
		position: relative;
		padding: 6px;
		font-size: 18px;
		margin-bottom: 1rem;
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.05em;
		color: $gold;
		@media screen and(max-width: 900px) {
		  font-size: 18px;
		  padding: auto;
		  letter-spacing: 0.02em;
		  word-spacing: 0.01em;
		  line-height: 1.2em;
		}
	}

	.footer-description{
		font-size: 16px;
		letter-spacing: .1em;
		line-height: 1.818181818em;
		text-align: center;
		position: relative;
		padding: 6px;
		font-family: 'Roboto', Arial, sans-serif;
		color: white;
		@media screen and(max-width: 900px) {
		  font-size: 13px;
		  line-height: 1.918181818em;
		  padding: 12px 10px 12px 18px;
		}
	  }
	  .footer-line{
		width: 60%;
		margin: 6px auto 8px auto;
		height: 1px;
		background-color: $gold;
		@media screen and(max-width: 900px) {
		  width: 40%;
		}
	}

	.social-logo{
		margin: auto;
		width: 50px;
		height: 50px;
		margin-top: 12px;
		margin-bottom: 12px;
		background-color: $light-gold;
		padding: 12px;
		border-radius: 8px;
		transition: all 0.5s ease-in-out;
		&:hover{
			box-shadow: 0 0 17px 3px $dark-gold,0 0 4px 2px $dark-gold;
		}	
	  }
	
	.creator-name{
		line-height: 1.4em;
		font-weight: 500;
		font-size: 12px;
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.1em;
		color: $gold;
	}
	
}