$white: rgba(255, 255, 255, 0.993);
$gold: #ba9774;
$light-gold: #f5ca9f;
$green: #00ec7a;


$mobile-width: 1000px;

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    transition: all 1s linear;
    &:hover{
      text-decoration: none;
      color: $light-gold
    }
  }


  .nav-dropdown{
   
    .dropdown-title{
      text-decoration: none;
      color: $gold;
      display: block;
      font-size: 0.8em;
      height: 50px;
      letter-spacing: 1px;
      margin: auto 20px auto auto;
      padding: 0 7px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      
      @media screen and(max-width:1000px) {
        display: block;
        margin: auto;
        font-size: 1em;
        letter-spacing: 3px;
        padding: 10px 0;
        text-align: right;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }
    }

    .dropdown-list{
      display: block;
      opacity:0;
      height: 1px;
      position: absolute;
      overflow: hidden;
      background-color: black;
      border: 1px solid $gold;
      transition: all 0.5s linear;
      .item{
        color: $gold;
        display: block;
        font-size: 0.8em;
        height: 50px;
        letter-spacing: 1px;
        margin: auto auto 10px auto;
        padding: 0 7px;
        position: relative;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;

        @media screen and(max-width:1000px){
          text-align: justify;
          padding: 6px;
          a{
            text-align: justify;
          }
         
        }

        &:hover{
          color: $light-gold;
          text-shadow: -2px 0px 12px $gold-dark;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
        }
      }
    }

    &:hover{
      .dropdown-list{
        height: auto;
        opacity: 1;
        z-index: 3;
      }
    }
    
  }
  
  
  /*======================================================
                            Navbar
    ======================================================*/
  #navbar {
    background: black;
    color: $gold;
    position: relative;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    z-index: 10;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    transition: all 1s ease-in-out;

    ul{
      margin-bottom: 0;
    }

    
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 100%;
  } 
  @media screen and(max-width: $mobile-width) {
      .nav-wrapper {
        width: 90%;
      }
    }
  
  
  .logo {
    float: left;
    margin-left: 5%;
    height: 100%;
    width:100%;
    padding-top: 2px;
    padding-bottom: 5px; 
    display: inline;

    .logo-image{
      width: 80px;
      height: 80%;
      object-fit: contain;
      position: absolute;
    }
    h1{
      text-decoration: none;
      text-align: left;
      padding-left: 70px;
      padding-top: 6px;
      font-size: 20px;
      position: absolute;
    }
    h3{
      text-decoration: none;
      padding-top: 28px;
      padding-left: 86px;
      font-size: 12px;
    }

    @media screen and(max-width: $mobile-width) {
      margin-left: 1%;
      
    }
    
  } 
  
  
  #navbar ul {
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin: 0px 100px 0px auto;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } 
  @media screen and(max-width: $mobile-width) {
      #navbar ul {
        display: none;
      }
    } 
  
  #navbar li {
    display: inline-block;
  }

  
  
  #navbar li a {
    text-decoration: none;
    color: $gold;
    display: block;
    font-size: 0.8em;
    height: 50px;
    letter-spacing: 1px;
    margin: auto 20px auto auto;
    padding: 0 7px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: $light-gold;
    text-shadow: -2px 0px 12px $gold-dark;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: $gold-dark;
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: $gold-dark;
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: $gold-dark;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }
  
  
  
  /*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
  @media screen and(max-width: $mobile-width) {
    .menuIcon {
      cursor: pointer;
      display: block;
      position: absolute;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: $light-gold;
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: $light-gold;
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: $light-gold;
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Bars Shadows */
    .icon-bars.overlay {
      background: black;
      background: black;
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: black;
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: black;
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  
  
  /*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
  .overlay-menu {
    background: black;
    color: $gold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    padding-right: 15px;
    width: 50vw;
    height: 100vh;
  }
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
    top: 0;
  }
  
  .overlay-menu li a {
    display: block;
    font-size: 1em;
    letter-spacing: 3px;
  /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
  }
  
  .overlay-menu li a:hover,
  .overlay-menu li a:active {
    color: $light-gold;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }