.tiny-progress{
    width: 150px;
    height: 18px;
    background-color: transparent;
    padding: 0;
    border: 1px solid black;
    overflow: hidden;
    position: relative;

    .filler{
        width:0px;
        margin:0;
        background-color: rgba(255, 0, 0, 0.842);
        opacity:0.5;
        height: 18px;
        position:absolute;
        z-index: 1;
    }
    .percentage{
        color: black;
        font-weight: 700;
        z-index:3;
        text-align: center;
        margin:auto;
        font-size: 12px;
    }
}